@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

* {
  font-family: 'Coming Soon', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

p > a {
  font-size: 110%;
}

a, p {
  font-size: 175%
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #00ADB5;
}

a:hover {
  cursor: pointer;
  color: #08D9D6;
}

a.alert {
  color: #E23E57;
}

a.alert:hover {
  color: #FF2E63;
}

button, input[type="submit"] {
  padding: 8px;
  text-align: center;
  font-size: 125%;

  border: none;
  background-color: #00ADB5;
  color: white;
}

button:hover, input[type="submit"]:hover {
  background-color: #08D9D6;
  cursor: pointer;
}

button.alert {
  background-color: #E23E57;
}

button.alert:hover {
  background-color: #FF2E63;
}

button.disabled {
  background-color: #444444;
  cursor: initial;
}

input {
  border: none;
  background-color: white;
  color: #00ADB5;
}

input:focus{
  outline-color: #00ADB5;
}

thead, tbody, tr, th, td {
  display: block;
}

table {
  border-collapse: collapse;

  background-color: white;
  border: 1px solid #00ADB5;
}

tr:nth-child(odd) {
  background-color: #E0F7FA;
}

th {
  background-color: #00ADB5;
  color: white;
}

td {
  color: #00ADB5;
}

.selected {
  border: 2px solid #E23E57;
}

::-webkit-scrollbar {
  background-color: #EEEEEE;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ADB5;
  border: 1px solid white;
}

.accent {
  color: #00ADB5;
}

.accent:hover {
  color: #08D9D6;
}

.gap {
  margin: 8px;
}

.no-gap {
  margin: 0px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-stretch-items {
  align-items: stretch;
}

.flex-fill {
  flex: 1;
  overflow: hidden;
}

.scroll-view-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.clickable-icon {
  color: black;
}

.clickable-icon:hover {
  cursor: pointer;
  color: #08D9D6;
}

.invisible-color {
  color: rgba(0, 0, 0, 0);
}

.invisible-background-color {
  background-color: rgba(0, 0, 0, 0);
}

.modal-overlay {
  position: fixed;
  top: 33%;
  left: 33%;
  bottom: 33%;
  right: 33%;
}

.modal-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #00ADB5;
  background: white;
  outline: none;
}
